/* You can add global styles to this file, and also import other style files */
.selected {
  background-color: rgb(22, 244, 96);
  color: black;
  padding: 10px;
  margin-top: 10px;
}

.unSelected{
  background-color: white;
  padding: 10px;
}

.blue{
  color: blue;
}

ul {
list-style-type: none;
}

