<div class="row justify-content-center">
  <div class="col-6 my-3">
    <h1>NG-Container y NG-Template en Angular</h1>
    <p>
      Esta directiva representa, tal y como se intuye en su nombre, una template
      de Angular. El contenido de esta etiqueta contendrá una parte de una
      template que luego se puede reutilizar y añadirse a otras templates para
      formar la template de un componente.
    </p>
    <ul class="list-group text-center">
      <li class="list-group-item">
        <a
          href="https://www.acontracorrientech.com/routing-angular-guia-completa-parte-1/"
          target="_blank">
          Routing Angular 1
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://www.acontracorrientech.com/routing-guia-parte-2/#t-1593025368325"
          target="_blank">
          Routing Angular 2
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://www.acontracorrientech.com/routing-en-angular-guia-completa-parte-3/"
          target="_blank">
          Routing Angular 3
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://www.acontracorrientech.com/routing-en-angular-guia-completa-parte-4/"
          target="_blank">
          Routing Angular 4
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://www.acontracorrientech.com/routing-en-angular-guia-completa-parte-5/"
          target="_blank">
          Routing Angular 5
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://www.acontracorrientech.com/routing-en-angular-guia-completa-parte-6/"
          target="_blank">
          Routing Angular 6
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://www.acontracorrientech.com/routing-en-angular-guia-completa-parte-7/"
          target="_blank">
          Routing Angular 7
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://imaginaformacion.com/tutoriales/guia-completa-del-routing-en-angular"
          target="_blank">
          Guía completa routing en Angular
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://www.youtube.com/watch?v=tX6xQIiS7U8" target="_blank">
          Guards Angular 16
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://www.fradev.io/articles/angular/new-angular-v16-functional-guards"
          target="_blank">
          Guards Angular 16
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://imaginaformacion.com/tutoriales/guia-completa-angular-resolver"
          target="_blank">
          Resolver Angular 16
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://imaginaformacion.com/tutoriales/mejorar-rendimiento-con-lazy-loading-en-angular"
          target="_blank">
          Lazy-Loading Angular 16
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://dev.to/jbermeo/entendiendo-un-poco-forroot-y-forchild-en-angular-4o6p"
          target="_blank">
          ForRoot y ForChild
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://parzibyte.me/blog/2019/11/10/angular-peticiones-http-httpclient/"
          target="_blank">
          Peticiones HTTP
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://crudcrud.com/" target="_blank">
          Para realizar las peticiones HTTP estamos usando la web crudcrud
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://dev.to/ricardochl/como-usar-httpinterceptors-en-angular-2o84"
          target="_blank">
          Interceptors en Angular
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://runebook.dev/es/docs/angular/guide/observables"
          target="_blank">
          Observables en Angular
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://blog.angular-university.io/angular-ng-content/"
          target="_blank">
          Content Project
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://profile.es/blog/angular-templates-las-directivas-ng-template-ng-container-y-ngtemplateoutlet/"
          target="_blank">
          Ng-Container y Ng-Template
        </a>
      </li>
    </ul>
  </div>
</div>
