<div class="row justify-content-center">
  <div class="col-6 my-3">
    <h1>Resolver, en Angular</h1>
    <p>
      Es una interfaz que permite pre-cargar datos necesarios antes de que se
      complete la navegación a una ruta específica. Esto significa que cuando
      los usuarios acceden a una parte de tu aplicación, todos los datos
      necesarios ya están disponibles, lo que resulta en una experiencia de
      usuario más fluida y sin esperas que puedan afectar negativamente la
      percepción del rendimiento de la aplicación.
    </p>
    <ul class="list-group">
      <li class="list-group-item">
        <a
          href="https://www.acontracorrientech.com/routing-angular-guia-completa-parte-1/"
          target="_blank">
          Routing Angular 1
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://www.acontracorrientech.com/routing-guia-parte-2/#t-1593025368325"
          target="_blank">
          Routing Angular 2
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://www.acontracorrientech.com/routing-en-angular-guia-completa-parte-3/"
          target="_blank">
          Routing Angular 3
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://www.acontracorrientech.com/routing-en-angular-guia-completa-parte-4/"
          target="_blank">
          Routing Angular 4
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://www.acontracorrientech.com/routing-en-angular-guia-completa-parte-5/"
          target="_blank">
          Routing Angular 5
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://www.acontracorrientech.com/routing-en-angular-guia-completa-parte-6/"
          target="_blank">
          Routing Angular 6
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://www.acontracorrientech.com/routing-en-angular-guia-completa-parte-7/"
          target="_blank">
          Routing Angular 7
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://www.youtube.com/watch?v=tX6xQIiS7U8" target="_blank">
          Guards Angular 16
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://www.fradev.io/articles/angular/new-angular-v16-functional-guards"
          target="_blank">
          Guards Angular 16
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://imaginaformacion.com/tutoriales/guia-completa-angular-resolver"
          target="_blank">
          Resolver Angular 16
        </a>
      </li>
    </ul>
  </div>
</div>
