<div class="row justify-content-center">
  <div class="col-6 my-3">
    <h1>ForRoot y ForChild en Angular</h1>
    <p>
      Cuando se trabaja con enrutadores en Angular, es común encontrarse con la
      necesidad de modularizar la aplicación. Esto implica dividir la aplicación
      en módulos más pequeños y reutilizables. Sin embargo, al configurar el
      enrutamiento para estos módulos, surge la pregunta: ¿dónde se debe
      configurar el enrutamiento principal de la aplicación y dónde se deben
      agregar las rutas secundarias de los módulos internos?
    </p>
    <ul class="list-group">
      <li class="list-group-item">
        <a
          href="https://www.acontracorrientech.com/routing-angular-guia-completa-parte-1/"
          target="_blank">
          Routing Angular 1
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://www.acontracorrientech.com/routing-guia-parte-2/#t-1593025368325"
          target="_blank">
          Routing Angular 2
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://www.acontracorrientech.com/routing-en-angular-guia-completa-parte-3/"
          target="_blank">
          Routing Angular 3
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://www.acontracorrientech.com/routing-en-angular-guia-completa-parte-4/"
          target="_blank">
          Routing Angular 4
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://www.acontracorrientech.com/routing-en-angular-guia-completa-parte-5/"
          target="_blank">
          Routing Angular 5
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://www.acontracorrientech.com/routing-en-angular-guia-completa-parte-6/"
          target="_blank">
          Routing Angular 6
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://www.acontracorrientech.com/routing-en-angular-guia-completa-parte-7/"
          target="_blank">
          Routing Angular 7
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://www.youtube.com/watch?v=tX6xQIiS7U8" target="_blank">
          Guards Angular 16
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://www.fradev.io/articles/angular/new-angular-v16-functional-guards"
          target="_blank">
          Guards Angular 16
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://imaginaformacion.com/tutoriales/guia-completa-angular-resolver"
          target="_blank">
          Resolver Angular 16
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://imaginaformacion.com/tutoriales/mejorar-rendimiento-con-lazy-loading-en-angular"
          target="_blank">
          Lazy-Loading Angular 16
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://dev.to/jbermeo/entendiendo-un-poco-forroot-y-forchild-en-angular-4o6p"
          target="_blank">
          ForRoot y ForChild
        </a>
      </li>
    </ul>
  </div>
</div>
