<div class="flex items-center justify-center w-auto">
  <span class="sm:ml-3">
    <button (click)="start()" type="button" class="inline-flex items-center rounded my-3 px-6 py-3 text-sm font-medium text-white border border-transparent bg-blue-800">
      Start
    </button>
  </span>
  <span class="sm:ml-3">
    <button (click)="stop()" type="button" class="inline-flex items-center rounded my-3 px-6 py-3 text-sm font-medium text-white border border-transparent bg-red-600">
      Stop
    </button>
  </span>
  <span class="sm:ml-3">
    Counter: {{ counter }}
  </span>
</div>
