<div class="row justify-content-center">
  <div class="col-6 my-3">
    <h1>Lazy Loading en Angular</h1>
    <p>
      El Lazy Loading es una técnica poderosa en Angular para mejorar el
      rendimiento y la experiencia del usuario en aplicaciones web. Su principal
      objetivo es optimizar la carga de componentes y módulos, cargándolos solo
      cuando son necesarios. Esta técnica es esencial para desarrolladores que
      buscan crear aplicaciones Angular eficientes y rápidas. A lo largo de este
      tutorial, exploraremos los fundamentos del Lazy Loading, sus ventajas y
      casos de uso comunes.
    </p>
    <ul class="list-group">
      <li class="list-group-item">
        <a
          href="https://www.acontracorrientech.com/routing-angular-guia-completa-parte-1/"
          target="_blank">
          Routing Angular 1
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://www.acontracorrientech.com/routing-guia-parte-2/#t-1593025368325"
          target="_blank">
          Routing Angular 2
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://www.acontracorrientech.com/routing-en-angular-guia-completa-parte-3/"
          target="_blank">
          Routing Angular 3
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://www.acontracorrientech.com/routing-en-angular-guia-completa-parte-4/"
          target="_blank">
          Routing Angular 4
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://www.acontracorrientech.com/routing-en-angular-guia-completa-parte-5/"
          target="_blank">
          Routing Angular 5
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://www.acontracorrientech.com/routing-en-angular-guia-completa-parte-6/"
          target="_blank">
          Routing Angular 6
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://www.acontracorrientech.com/routing-en-angular-guia-completa-parte-7/"
          target="_blank">
          Routing Angular 7
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://www.youtube.com/watch?v=tX6xQIiS7U8" target="_blank">
          Guards Angular 16
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://www.fradev.io/articles/angular/new-angular-v16-functional-guards"
          target="_blank">
          Guards Angular 16
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://imaginaformacion.com/tutoriales/guia-completa-angular-resolver"
          target="_blank">
          Resolver Angular 16
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://imaginaformacion.com/tutoriales/mejorar-rendimiento-con-lazy-loading-en-angular"
          target="_blank">
          Lazy-Loading Angular 16
        </a>
      </li>
    </ul>
  </div>
</div>
