<div class="row justify-content-center">
  <div class="col-6 my-3">
    <h1>Rutas en Angular</h1>
    <p>
      Estamos trabajando con rutas hijas, parámetros y QueryParams en Angular
    </p>
    <ul class="list-group">
      <li class="list-group-item">
        <a
          href="https://www.acontracorrientech.com/routing-angular-guia-completa-parte-1/"
          target="_blank"
        >
          Routing Angular 1
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://www.acontracorrientech.com/routing-guia-parte-2/#t-1593025368325"
          target="_blank"
        >
          Routing Angular 2
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://www.acontracorrientech.com/routing-en-angular-guia-completa-parte-3/"
          target="_blank"
        >
          Routing Angular 3
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://www.acontracorrientech.com/routing-en-angular-guia-completa-parte-4/"
          target="_blank"
        >
          Routing Angular 4
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://www.acontracorrientech.com/routing-en-angular-guia-completa-parte-5/"
          target="_blank"
        >
          Routing Angular 5
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://www.acontracorrientech.com/routing-en-angular-guia-completa-parte-6/"
          target="_blank"
        >
          Routing Angular 6
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://www.acontracorrientech.com/routing-en-angular-guia-completa-parte-7/"
          target="_blank"
        >
          Routing Angular 7
        </a>
      </li>
      <li class="list-group-item">
        <a
          href="https://www.acontracorrientech.com/routing-en-angular-guia-completa-parte-7/"
          target="_blank"
        >
          Guía completa routing en Angular
        </a>
      </li>
    </ul>
  </div>
</div>
